[server]
database_url = "postgres://askgod:askgod@localhost/askgod"
admin_net = ::1/128, 127.0.0.1/32
loglevel = 10
scores_hide_others = false
scores_progress_tags = op
scores_progress_overall = true
scores_read_only = false
scores_writeups = true
teams_setdetails = true
logfile = askgod.log
